*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

/dbdata/
/www/
/diyaliz.dev
dbdata/mariadb/aria_log.00000001
dbdata/mariadb/aria_log_control
dbdata/mariadb/ib_logfile0
dbdata/mariadb/ibdata1
dbdata/mariadb/ibtmp1
dbdata/mysql/ib_buffer_pool
dbdata/mysql/ib_logfile0
dbdata/mysql/ibdata1
dbdata/mysql/ibtmp1
